In [151]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [5]:
db = pd.read_csv(r'C:\Users\LA026LE\OneDrive - Pitney Bowes\MASTER DEGREE\QTW\QTW_CS7\final_project.csv')

db.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x41,x42,x43,x44,x45,x46,x47,x48,x49,y
0,-0.166563,-3.961588,4.621113,2.481908,-1.800135,0.804684,6.718751,-14.789997,-1.040673,-4.204950,...,-1.497117,5.414063,-2.325655,1.674827,-0.264332,60.781427,-7.689696,0.151589,-8.040166,0
1,-0.149894,-0.585676,27.839856,4.152333,6.426802,-2.426943,40.477058,-6.725709,0.896421,0.330165,...,36.292790,4.490915,0.762561,6.526662,1.007927,15.805696,-4.896678,-0.320283,16.719974,0
2,-0.321707,-1.429819,12.251561,6.586874,-5.304647,-11.311090,17.812850,11.060572,5.325880,-2.632984,...,-0.368491,9.088864,-0.689886,-2.731118,0.754200,30.856417,-7.428573,-2.090804,-7.869421,0
3,-0.245594,5.076677,-24.149632,3.637307,6.505811,2.290224,-35.111751,-18.913592,-0.337041,-5.568076,...,15.691546,-7.467775,2.940789,-6.424112,0.419776,-72.424569,5.361375,1.806070,-7.670847,0
4,-0.273366,0.306326,-11.352593,1.676758,2.928441,-0.616824,-16.505817,27.532281,1.199715,-4.309105,...,-13.911297,-5.229937,1.783928,3.957801,-0.096988,-14.085435,-0.208351,-0.894942,15.724742,1

In [7]:
db.isna().sum()

x0             26
x1             25
x2             38
x3             37
x4             26
x5             37
x6             26
x7             27
x8             21
x9             30
x10            43
x11            30
x12            36
x13            31
x14            34
x15            35
x16            26
x17            27
x18            40
x19            35
x20            38
x21            29
x22            27
x23            47
Country        28
x25            22
x26            36
x27            30
x28            35
Month          30
Wk_Day         30
x31            39
Percentage1    31
x33            41
x34            41
x35            30
x36            27
Money          23
x38            31
x39            23
x40            36
x41            40
x42            26
x43            37
x44            40
x45            29
x46            31
x47            37
x48            32
x49            32
y               0
dtype: int64

In [17]:
db.dtypes

x0             float64
x1             float64
x2             float64
x3             float64
x4             float64
x5             float64
x6             float64
x7             float64
x8             float64
x9             float64
x10            float64
x11            float64
x12            float64
x13            float64
x14            float64
x15            float64
x16            float64
x17            float64
x18            float64
x19            float64
x20            float64
x21            float64
x22            float64
x23            float64
Country         object
x25            float64
x26            float64
x27            float64
x28            float64
Month           object
Wk_Day          object
x31            float64
Percentage1     object
x33            float64
x34            float64
x35            float64
x36            float64
Money           object
x38            float64
x39            float64
x40            float64
x41            float64
x42            float64
x43            float64
x44            float64
x45            float64
x46            float64
x47            float64
x48            float64
x49            float64
y                int64
dtype: object

In [21]:
# Remove the percentage sign and convert to float
db['percent'] = db['Percentage1'].str.rstrip('%').astype(float) / 100

# Display the first few rows to verify
db['percent']

0         0.0000
1        -0.0002
2        -0.0001
3         0.0001
4         0.0001
           ...
159995    0.0000
159996   -0.0001
159997    0.0000
159998   -0.0002
159999    0.0002
Name: percent, Length: 160000, dtype: float64

In [65]:
# Impute the missing values in the 'Country' column
imputer = SimpleImputer(strategy='most_frequent')
db['Country'] = imputer.fit_transform(db[['Country']])

# Create a mapping for the country levels
country_mapping = {
    'euorpe': 0,
    'asia': 1,
    'america': 2,
}

# Apply the mapping to the 'Country' column
db['Country_new'] = db['Country'].map(country_mapping)

print(db['Country_new'].unique().tolist())

db['Country_new'] = db['Country_new'].astype(float)

print(db['Country_new'].dtypes)

#db['Country'].unique().tolist()

[0, 1, 2]
float64

In [69]:
# Impute the missing values in the 'Month' column
imputer = SimpleImputer(strategy='most_frequent')
db['Month'] = imputer.fit_transform(db[['Month']])

# Create a mapping for the country levels
month_mapping = {
    'July': 0,
     'Aug': 1,
     'Jun': 2,
     'May': 3,
     'sept.': 4,
     'Apr': 5,
     'Nov': 6,
     'Oct': 7,
     'Mar': 8,
     'Feb': 9,
     'Dev': 10,
     'January': 11,
}

# Apply the mapping to the 'Country' column
db['Month_new'] = db['Month'].map(month_mapping)

print(db['Month_new'].unique().tolist())

db['Month_new'] = db['Month_new'].astype(float)

print(db['Month_new'].dtypes)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
float64

In [73]:
# Impute the missing values in the 'Week Day' column
imputer = SimpleImputer(strategy='most_frequent')
db['Wk_Day'] = imputer.fit_transform(db[['Wk_Day']])

# Create a mapping for the country levels
wk_day_mapping = {
    'tuesday': 0, 
    'wednesday': 1, 
    'thurday': 2, 
    'monday': 3, 
    'friday': 4,
}

# Apply the mapping to the 'Country' column
db['Wk_Day_new'] = db['Wk_Day'].map(wk_day_mapping)

print(db['Wk_Day_new'].unique().tolist())

db['Wk_Day_new'] = db['Wk_Day_new'].astype(float)

print(db['Wk_Day_new'].dtypes)

#db['Country'].unique().tolist()

[0, 1, 2, 3, 4]
float64

In [77]:
# Define a function to clean and convert the 'Money' column
def convert_money(value):
    if isinstance(value, str):
        # Remove the dollar sign and commas
        value = value.replace('$', '').replace(',', '')
        # Check if the value is enclosed in parentheses (negative value)
        if value.startswith('(') and value.endswith(')'):
            value = '-' + value[1:-1]
    return float(value)

# Apply the function to the 'Money' column
db['Money_new'] = db['Money'].apply(convert_money)

print(db['Money_new'].head())
print(db['Money_new'].dtypes)

0    1313.96
1    1962.78
2     430.47
3   -2366.29
4    -620.66
Name: Money, dtype: float64
float64

In [81]:
db['y'] = db['y'].astype(float)

In [93]:
# Initialize the SimpleImputer for the mean value
imputer = SimpleImputer(strategy='mean')

# Loop through each column in the DataFrame
for col in db.columns:
    # Check if the column contains float data
    if pd.api.types.is_float_dtype(db[col]):
        # Reshape the data to fit the imputer's requirements
        db[col] = imputer.fit_transform(db[[col]])

print(db.isna().sum())

x0              0
x1              0
x2              0
x3              0
x4              0
x5              0
x6              0
x7              0
x8              0
x9              0
x10             0
x11             0
x12             0
x13             0
x14             0
x15             0
x16             0
x17             0
x18             0
x19             0
x20             0
x21             0
x22             0
x23             0
Country         0
x25             0
x26             0
x27             0
x28             0
Month           0
Wk_Day          0
x31             0
Percentage1    31
x33             0
x34             0
x35             0
x36             0
Money           0
x38             0
x39             0
x40             0
x41             0
x42             0
x43             0
x44             0
x45             0
x46             0
x47             0
x48             0
x49             0
y               0
percent         0
Country_new     0
Month_new       0
Wk_Day_new      0
dtype: int64

In [95]:
#db['Wk_Day'].unique().tolist()

db.dtypes

x0             float64
x1             float64
x2             float64
x3             float64
x4             float64
x5             float64
x6             float64
x7             float64
x8             float64
x9             float64
x10            float64
x11            float64
x12            float64
x13            float64
x14            float64
x15            float64
x16            float64
x17            float64
x18            float64
x19            float64
x20            float64
x21            float64
x22            float64
x23            float64
Country         object
x25            float64
x26            float64
x27            float64
x28            float64
Month           object
Wk_Day          object
x31            float64
Percentage1     object
x33            float64
x34            float64
x35            float64
x36            float64
Money          float64
x38            float64
x39            float64
x40            float64
x41            float64
x42            float64
x43            float64
x44            float64
x45            float64
x46            float64
x47            float64
x48            float64
x49            float64
y              float64
percent        float64
Country_new    float64
Month_new      float64
Wk_Day_new     float64
dtype: object

In [97]:
# Initialize an empty list to store the correlation data
correlation_list = []

# Loop over each column except the target variable 'y' and specific excluded columns
for col in db.columns:
    if col != 'y' and col not in ('Country', 'Month', 'Wk_Day', 'Percentage1'):
        # Ensure the column is numeric before calculating correlation
        if pd.api.types.is_numeric_dtype(db[col]):
            # Calculate the correlation
            correlation = db[col].corr(db['y'])
            # Append the results to the list
            correlation_list.append({'Feature': col, 'Correlation with y': correlation})

# Convert the list to a DataFrame
correlation_data = pd.DataFrame(correlation_list)

# Display the correlation data
correlation_data

        Feature  Correlation with y
0            x0            0.001545
1            x1            0.003056
2            x2           -0.050521
3            x3            0.001533
4            x4            0.000608
5            x5            0.000985
6            x6           -0.050500
7            x7            0.014934
8            x8           -0.006222
9            x9            0.003286
10          x10           -0.003822
11          x11            0.000669
12          x12           -0.107145
13          x13           -0.002005
14          x14           -0.001254
15          x15           -0.001843
16          x16            0.004341
17          x17           -0.004183
18          x18            0.002722
19          x19            0.001744
20          x20           -0.241926
21          x21            0.003012
22          x22           -0.000170
23          x23           -0.237063
24          x25            0.001787
25          x26           -0.002143
26          x27            0.003680
27          x28            0.000953
28          x31           -0.001400
29          x33           -0.001665
30          x34            0.004963
31          x35           -0.001966
32          x36            0.001090
33        Money            0.054998
34          x38            0.122757
35          x39           -0.002322
36          x40            0.191974
37          x41            0.122850
38          x42           -0.124680
39          x43            0.000279
40          x44            0.000204
41          x45           -0.002859
42          x46            0.040828
43          x47           -0.000106
44          x48           -0.003375
45          x49            0.222242
46      percent           -0.005803
47  Country_new           -0.012072
48    Month_new            0.003247
49   Wk_Day_new           -0.001696

In [99]:
# Set a lower threshold for investigating further
investigation_threshold = 0.2 # Change this value

# Find features with correlation above the investigation threshold
investigated_features = correlation_data[
    (correlation_data['Correlation with y'] > investigation_threshold) | 
    (correlation_data['Correlation with y'] < -investigation_threshold)
]

# Display the investigated features
print(investigated_features)

   Feature  Correlation with y
20     x20           -0.241926
23     x23           -0.237063
45     x49            0.222242

In [117]:
db['Country'].value_counts() / db['Country'].count()

asia       0.868706
euorpe     0.103362
america    0.027931
Name: Country, dtype: float64

In [139]:
db['Country'].unique().tolist()

['euorpe', 'asia', 'america']

In [145]:
import pandas as pd

# Assuming db is your DataFrame
# Initialize a list to store the bias information
bias_info = []

# Adjust display settings to show more content in columns
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 100)

# Loop through each column to count unique values
for col in db.columns:
    # Count the number of unique values
    unique_count = db[col].value_counts().count()
    
    # Get the total number of values in the column
    total_count = db[col].count()
    
    # Calculate the proportion of unique values
    unique_proportion = unique_count / total_count
    
    # Append the results to the list
    bias_info.append({
        'Feature': col,
        'Unique Values': db[col].unique().tolist(),
        'Unique Count': unique_count,
        'Unique Proportion': unique_proportion
    })

# Convert the list to a DataFrame
bias_data = pd.DataFrame(bias_info)

# Display the bias information
print(bias_data)

# Identify columns with low unique proportions
low_unique_proportion_threshold = 0.1
low_unique_proportion_columns = bias_data[bias_data['Unique Proportion'] < low_unique_proportion_threshold]
print("\nColumns with low unique proportions:")
print(low_unique_proportion_columns)

# Analyze the distribution of values for these columns
for col in low_unique_proportion_columns['Feature']:
    print(f"\nValue counts for {col}:")
    print(db[col].value_counts())

# Evaluate correlation with the target variable 'y'
correlation_info = []
for col in low_unique_proportion_columns['Feature']:
    if col != 'y' and pd.api.types.is_numeric_dtype(db[col]):
        correlation = db[col].corr(db['y'])
        correlation_info.append({
            'Feature': col,
            'Correlation with y': correlation
        })

correlation_data = pd.DataFrame(correlation_info)
print("\nCorrelation with target variable 'y':")
print(correlation_data)

        Feature                                                                                        Unique Values  Unique Count  Unique Proportion
0            x0  [-0.166562692, -0.149894025, -0.321706945, -0.245594425, -0.273366443, -0.226705654, -0.43124614...        159971           0.999819
1            x1  [-3.961588267, -0.585675516, -1.429818791, 5.076677387, 0.3063260963642126, 11.350364150904795, ...        159976           0.999850
2            x2  [4.621113288578008, 27.839855623343222, 12.251561472649188, -24.14963216, -11.35259287, 10.83136...        159963           0.999769
3            x3  [2.4819079789213725, 4.152332836318684, 6.586873689536253, 3.637306616524176, 1.6767578560362408...        159964           0.999775
4            x4  [-1.800134785, 6.426801796589417, -5.304647182, 6.505811288835186, 2.928440755066158, -2.2364536...        159974           0.999838
5            x5  [0.8046841883712758, -2.426942937, -11.31108978, 2.2902239593613665, -0.616824461, 10.7162476445...        159962           0.999762
6            x6  [6.718751485961569, 40.47705815839258, 17.81284978517395, -35.11175053, -16.50581698, 15.7479932...        159975           0.999844
7            x7  [-14.78999661, -6.72570873, 11.06057202769339, -18.91359241, 27.53228111, -15.90032917, 5.523324...        159974           0.999838
8            x8  [-1.040673033, 0.896420996, 5.325880369572002, -0.337041341, 1.199714551097976, -0.178002287, -1...        159979           0.999869
9            x9  [-4.204949643, 0.330165402, -2.632983986, -5.568076163, -4.30910477, 10.901305645536828, -1.9322...        159971           0.999819
10          x10  [6.187465248861812, -11.70885866, 1.5726474268806674, -2.000255015, 6.667529618, -0.090169512, 9...        159958           0.999737
11          x11  [13.251523096776843, -2.352809014, -4.170771074, -19.28666771, 1.9659128404967663, -6.062488187,...        159969           0.999806
12          x12  [25.66541288340685, -25.01493363, 12.078601837510575, 10.995329578219565, -28.10634842, 3.463613...        159965           0.999781
13          x13  [-5.01726688, 9.799607599926595, -5.158497701, -5.914377582, -1.258949638, 1.853503685282618, -2...        159969           0.999806
14          x14  [10.503714293092049, -10.96070525, 7.302779801408763, 2.5114002207589423, 5.759940533647732, -7....        159967           0.999794
15          x15  [-2.517678262, 1.503999870218414, -2.192431075, 1.2923615594879163, 0.4725838178333888, -1.05524...        159966           0.999788
16          x16  [2.1179100127798685, -2.397836131, -4.065428304, -2.496882289, -1.150096897, 0.6853750208140866,...        159975           0.999844
17          x17  [5.8659227795364695, -9.301839169, -7.675054884, -15.7229537, -14.1187093, -9.407337887, 4.67761...        159974           0.999838
18          x18  [-6.666157779, -1.99941254, 4.041628525538065, -2.735382067, 4.527964044610193, -2.437729348, -2...        159961           0.999756
19          x19  [1.7914974849838894, 5.045257756513854, -6.633628498, 1.1175361661637406, -1.284372043, -13.3130...        159965           0.999781
20          x20  [-1.909113595, -5.80998404, 1.700321200553924, 1.9236699754618296, -9.026317453, 5.7370358693007...        159963           0.999769
21          x21  [-1.737939846, 10.814319189223609, -2.419221319, -14.17916674, -7.039817551, -5.469731075, 15.58...        159972           0.999825
22          x22  [-2.516714605, -0.47811196, 2.467521488913223, 1.4706250263609413, -1.978748355, 7.5347083869967...        159974           0.999838
23          x23  [3.553012933262523, 10.590600531268125, -5.270614787, -11.48443075, -15.9981656, 2.2251203018947...        159954           0.999713
24      Country                                                                              [euorpe, asia, america]             3           0.000019
25          x25  [-0.801339784, 0.8187919141658431, -0.718315403, -0.052429804, -0.223449165, 0.8942638199982127,...        159979           0.999869
26          x26  [1.1429498936345006, -0.64298672, -0.566756556, -0.558582473, 0.3507813717742762, 0.354265605689...        159962           0.999762
27          x27  [1.005130643336286, 0.7510860855029466, 4.171088430966882, 9.215569142177202, 1.8111816483925665...        159971           0.999819
28          x28  [-18.47378394, 3.7493771438941854, 11.522447960134498, 30.595225778486853, -4.094084129, 5.56717...        159966           0.999788
29        Month                                  [July, Aug, Jun, May, sept., Apr, Nov, Oct, Mar, Feb, Dev, January]            12           0.000075
30       Wk_Day                                                        [tuesday, wednesday, thurday, monday, friday]             5           0.000031
31          x31  [-3.851669031, 1.3915941705401855, -3.262081662, -2.285240904, 0.9210474524791152, 1.16884967058...        159961           0.999756
32  Percentage1              [0.00%, -0.02%, -0.01%, 0.01%, -0.03%, 0.02%, -0.04%, nan, 0.03%, 0.04%, -0.05%, 0.05%]            11           0.000069
33          x33  [-1.940031295, 2.211462183900877, 0.4196067765134691, -3.442714543, -0.431639625, 0.962813412961...        159959           0.999744
34          x34  [-5.492063458, -4.460590822, -3.804056163, 4.420159829, 12.165493655303212, 2.934661110434249, 1...        159959           0.999744
35          x35  [0.6271211443519881, 1.0354610986104358, -0.763356536, 1.1645317075188588, -0.16772588, -2.72547...        159969           0.999806
36          x36  [-0.873823567, 0.2282704967241612, -1.612560546, 3.03345507648236, -0.341604021, 0.6561323137881...        159973           0.999831
37        Money  [1313.96, 1962.78, 430.47, -2366.29, -620.66, -196.45, -241.04, 621.35, -301.89, -484.09, -106.6...        129199           0.807494
38          x38  [-1.353728866, 32.81680405080301, -0.333198503, 14.188668809536823, -12.57892598, -6.555903074, ...        159969           0.999806
39          x39  [-5.186148421, -5.150011667, 8.728584698344248, -6.385060389, 1.1337980412273403, 6.014648405380...        159977           0.999856
40          x40  [-10.61220023, 2.1474265429434625, -0.863136786, 12.084421148559548, 30.00472663636752, 3.091260...        159963           0.999769
41          x41  [-1.497117061, 36.29278984, -0.368491192, 15.691545540321188, -13.91129728, -7.250310302, -15.59...        159961           0.999756
42          x42  [5.414063109313714, 4.490914503839401, 9.088863581598902, -7.467774995, -5.229937159, 6.40234320...        159975           0.999844
43          x43  [-2.325655231, 0.7625610308025499, -0.689885606, 2.9407894895816247, 1.7839284336900396, -2.0648...        159964           0.999775
44          x44  [1.674827031642638, 6.526661558192086, -2.731117783, -6.424111788, 3.957801134367155, 0.92387863...        159961           0.999756
45          x45  [-0.264331792, 1.0079272465938227, 0.754199544, 0.4197759615950164, -0.096988309, 0.331452412486...        159967           0.999794
46          x46  [60.78142705027073, 15.80569606170142, 30.85641699321067, -72.4245687, -14.08543505, 19.17236506...        159970           0.999812
47          x47  [-7.689696077, -4.896678262, -7.428573299, 5.361375226027609, -0.208351408, 5.752748915320948, 2...        159964           0.999775
48          x48  [0.1515889730946078, -0.320282808, -2.090803521, 1.806070153745389, -0.894941732, -2.609552726, ...        159969           0.999806
49          x49  [-8.040166471, 16.719974185670925, -7.869420609, -7.67084659, 15.72474233678505, -20.32017911, 4...        159968           0.999800
50            y                                                                                           [0.0, 1.0]             2           0.000013
51      percent  [0.0, -0.0002, -0.0001, 0.0001, -0.0003, 0.0002, -0.0004, -1.0877107439566393e-07, 0.0003, 0.000...            12           0.000075
52  Country_new                                                                                      [0.0, 1.0, 2.0]             3           0.000019
53    Month_new                                       [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0]            12           0.000075
54   Wk_Day_new                                                                            [0.0, 1.0, 2.0, 3.0, 4.0]             5           0.000031

Columns with low unique proportions:
        Feature                                                                                        Unique Values  Unique Count  Unique Proportion
24      Country                                                                              [euorpe, asia, america]             3           0.000019
29        Month                                  [July, Aug, Jun, May, sept., Apr, Nov, Oct, Mar, Feb, Dev, January]            12           0.000075
30       Wk_Day                                                        [tuesday, wednesday, thurday, monday, friday]             5           0.000031
32  Percentage1              [0.00%, -0.02%, -0.01%, 0.01%, -0.03%, 0.02%, -0.04%, nan, 0.03%, 0.04%, -0.05%, 0.05%]            11           0.000069
50            y                                                                                           [0.0, 1.0]             2           0.000013
51      percent  [0.0, -0.0002, -0.0001, 0.0001, -0.0003, 0.0002, -0.0004, -1.0877107439566393e-07, 0.0003, 0.000...            12           0.000075
52  Country_new                                                                                      [0.0, 1.0, 2.0]             3           0.000019
53    Month_new                                       [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0]            12           0.000075
54   Wk_Day_new                                                                            [0.0, 1.0, 2.0, 3.0, 4.0]             5           0.000031

Value counts for Country:
asia       138993
euorpe      16538
america      4469
Name: Country, dtype: int64

Value counts for Month:
July       45599
Jun        41329
Aug        29406
May        21939
sept.      10819
Apr         6761
Oct         2407
Mar         1231
Nov          337
Feb          140
Dev           23
January        9
Name: Month, dtype: int64

Value counts for Wk_Day:
wednesday    101565
thurday       29429
tuesday       27954
friday          564
monday          488
Name: Wk_Day, dtype: int64

Value counts for Percentage1:
0.00%     64415
0.01%     40767
-0.01%    34094
-0.02%     9924
0.02%      7987
-0.03%     1727
0.03%       855
-0.04%      138
0.04%        55
-0.05%        6
0.05%         1
Name: Percentage1, dtype: int64

Value counts for y:
0.0    95803
1.0    64197
Name: y, dtype: int64

Value counts for percent:
 0.000000e+00    64415
 1.000000e-04    40767
-1.000000e-04    34094
-2.000000e-04     9924
 2.000000e-04     7987
-3.000000e-04     1727
 3.000000e-04      855
-4.000000e-04      138
 4.000000e-04       55
-1.087711e-07       31
-5.000000e-04        6
 5.000000e-04        1
Name: percent, dtype: int64

Value counts for Country_new:
1.0    138993
0.0     16538
2.0      4469
Name: Country_new, dtype: int64

Value counts for Month_new:
0.0     45599
2.0     41329
1.0     29406
3.0     21939
4.0     10819
5.0      6761
7.0      2407
8.0      1231
6.0       337
9.0       140
10.0       23
11.0        9
Name: Month_new, dtype: int64

Value counts for Wk_Day_new:
1.0    101565
2.0     29429
0.0     27954
4.0       564
3.0       488
Name: Wk_Day_new, dtype: int64

Correlation with target variable 'y':
       Feature  Correlation with y
0      percent           -0.005803
1  Country_new           -0.012072
2    Month_new            0.003247
3   Wk_Day_new           -0.001696

In [153]:
# Separate features and target variable
X = db.drop(['y','Country','Month','Wk_Day','Percentage1','Money'], axis=1) # Column Review
y = db['y']

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the feature matrix
X_scaled = scaler.fit_transform(X)

# Convert the scaled data back to a DataFrame
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# Combine the scaled features with the target variable
db_scaled = pd.concat([X_scaled_df, y], axis=1) # Column Review

# Display the first few rows of the scaled DataFrame
db_scaled.head()

         x0        x1        x2        x3        x4        x5        x6        x7        x8        x9       x10       x11       x12       x13       x14       x15       x16       x17       x18       x19       x20       x21       x22       x23       x25       x26       x27       x28       x31       x33       x34       x35       x36       x38       x39       x40       x41       x42       x43       x44       x45       x46       x47       x48       x49   percent  Country_new  Month_new  Wk_Day_new    y
0 -0.446058 -0.625059  0.434849  0.310829 -0.281989  0.103154  0.434752 -0.232393 -0.113491 -0.662595  0.785888  1.507768  1.830585 -0.561261  1.507268 -0.769972  0.423723  0.773434 -1.471070  0.232662 -0.380362 -0.181618 -0.466617  0.189911 -0.633551  1.356818  0.149008 -1.281718 -1.389772 -1.106396 -0.685330  0.263177 -0.552575 -0.438893 -1.010998 -0.486790 -0.438927  1.418296 -1.513949  0.403711 -0.668753  2.008929 -1.612152  0.078444 -0.489914  0.001046    -2.608781  -1.064000   -1.618245  0.0
1 -0.401142 -0.092590  2.184320  0.517973  1.007145 -0.318226  2.184156  0.031667  0.104146  0.051099 -1.488005 -0.271764 -1.605538  1.093712 -1.575224  0.459369 -0.482390 -1.230580 -0.443182  0.661100 -1.052289  1.152486 -0.089903  0.662014  0.648639 -0.761327  0.111502  0.257505  0.505044  1.269235 -0.556607  0.434797  0.139242  1.584240 -1.003959  0.261945  1.584325  1.237651  0.498219  1.568880  2.539292  0.780252 -1.028764 -0.165379  1.156899 -1.922310     0.212838  -0.467232   -0.040845  0.0
2 -0.864118 -0.225734  1.009783  0.819872 -0.831135 -1.476650  1.009664  0.614067  0.601806 -0.415214  0.199533 -0.479086  0.909400 -0.577036  1.047584 -0.670550 -0.817003 -1.015644  0.887405 -0.876716  0.241366 -0.254028  0.454422 -0.402005 -0.567845 -0.670917  0.616419  0.795884 -1.176706  0.243872 -0.474675 -0.321222 -1.016302 -0.378470  1.699345  0.085285 -0.378501  2.137397 -0.448142 -0.654377  1.899509  1.191417 -1.557610 -1.080234 -0.478557 -0.960632     0.212838  -1.064000   -0.040845  0.0
3 -0.659021  0.800509 -1.732951  0.454106  1.019525  0.296857 -1.732965 -0.367418 -0.034436 -0.877111 -0.254437 -2.202917  0.835955 -0.661464  0.359497  0.394676 -0.502264 -2.078959 -0.605285  0.143918  0.279838 -1.503922  0.270205 -0.818847 -0.040855 -0.661222  1.361169  2.116905 -0.823694 -1.966285  0.551668  0.489044  1.900137  0.481325 -1.244525  0.845048  0.481345 -1.102476  1.917473 -1.541250  1.056248 -1.630083  1.113870  0.933340 -0.465350  0.962724     0.212838  -1.064000   -0.040845  0.0
4 -0.733857  0.048101 -0.768728  0.210985  0.458963 -0.082200 -0.768779  1.153423  0.138222 -0.678986  0.846885  0.220747 -1.815135 -0.141475  0.826018  0.144087 -0.232023 -1.867001  0.994524 -0.172353 -1.606304 -0.745123 -0.367206 -1.121642 -0.176202  0.417295  0.268011 -0.285750  0.334998 -0.243241  1.518249 -0.070886 -0.218485 -1.103502  0.220015  1.896611 -1.103576 -0.664567  1.163705  0.951968 -0.246790 -0.036335 -0.049498 -0.462314  1.090706  0.962724     0.212838  -1.064000   -1.618245  1.0

In [155]:
X_scaled.shape

(160000, 49)